<!DOCTYPE html>
<html lang="en">
  <head>
      {{template "meta.html" .Meta}}
    <title>MJ's Blog</title>
  </head>
  <body>
    <main class="main-width-control">
        <article class="article-control">
            <div class="title-header">
                <h1><span class="special">MJ's</span> Blog</h1>
            </div>
        </article>


        <article class="article-control" id="blog-index">
            <div class="article-heading">
            <h2>Tags</h2>
            <p>Use these tags to explore all posts.</p>
          </div>
          {{template "tag-list.html" .Tags}}
          {{template "post-list.html" .Posts}}
          <div class="article-heading">
            <h2>Archived Posts</h2>
          </div>
          {{template "post-list.html" .ArchivedPosts}}
        </article>
      </div>
    </main>
  </body>
</html>
