<!doctype html>
<html lang="en">
    <head>
        {{template "meta.html" .Meta}}
        <title>{{.Post.Title}}</title>
    </head>
    <body>
        {{template "header.html"}}
        <main class="ablogpost main-width-control">
            <article class="post-header">
                <div>
                    <h1>{{.Post.Title}}</h1>
                    <h2>{{.Post.Subtitle}}</h2>
                    <p class="date">{{.Post.Date}}</p>
                </div>
                {{template "tag-list.html" .Post.Tags}}
            </article>
            <!-- <hr /> -->

            <article class="post-content">{{.Post.HTML}}</article>
        </main>
    </body>
</html>
