<!doctype html>
<html lang="en">
    <head>
        {{template "meta.html"}}
        <title>MJ's Blog - {{.Tag.Name}}</title>
    </head>
    <body>
        <main class="main-width-control">
            <article class="article-control" id="tag-page">
                <div class="article-heading">
                    {{template "header.html"}}
                    <h2>{{.Tag.Name}}</h2>
                    <p>{{.Count}} posts</p>
                </div>
                {{template "post-list.html" .Posts}}
            </article>
        </main>
    </body>
</html>
